<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <%- include('headers/menuButtons') %>

    <title>Admin Page hello</title>

</head>
<body>
<script src="/javascripts/admin.js"> </script>
<p><%= message %></p>
<form action="/admin-area/logout"  method="get">
    <button class=" btn btn-danger">Logout</button><br>
</form>
<div class="text-center" id = "spin">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="container">
    <br>
<div class="row" id="ads"></div>
</div>


</body>
</html>