<!DOCTYPE html>
<html>
<head>
    <title>Adding a contact</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new-ad">Add New Ad</a></li>
    <li><a href="/admin-area/requests-management">Admin Area</a></li>
</ul>
</body>
</html>
