<!DOCTYPE html>
<html>
<head>
    <title>Adding a contact</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login Page</a></li>
    <li><a href="/new-ad">Add ad</a></li>
</ul>
</body>
</html>
